<h2>Name: <%=@recipe.name%></h2>
<h2>Ingredients: <%=@recipe.ingredients%></h2>
<h2>Cooking Time: <%=@recipe.cook_time%></h2><br><br>
<p><a href="/recipes"><button>Back To Recipe List</button></a>    <a href="/recipes/<%=@recipe.id%>/edit"><button>Edit</button></a></p>
<br>
<form action="/recipes/<%=@recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>